[Unit]
Description=deployment service using uvicorn
after=network.target

[service]
User=ubuntu
ExecStart= /home/ubuntu/app/dist/e_commerical_langgraph_fastapi-0.1.0/src/e_commerical_langgraph_fastapi/.venv/bin/uvicorn main:app
Restart=Always

[Install]
wantedBy=multi-user.target






